  <div class="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Mr.Nemov App (ItProgger.com, Angular Beginner course)</a>
      </div>
      <div class="nav navbar-nav" style="flex-direction: row; gap: 20px; display: flex; align-items: center;">
        <a routerLink="/" style="text-decoration: none; color: white;">Главная</a>
        <a routerLink="/contacts" style="text-decoration: none; color: white;">Контакты</a>
        <button routerLink="/user" style="text-decoration: none; color: white; background-color: blue; 
        border-radius: 8px; border: none;">Войти</button>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
